In [2]:
data = 'python'

In [3]:
data[0]

'p'

In [4]:
data[-1]

'n'

In [6]:
for x in data:
    print(x)

p
y
t
h
o
n

In [7]:
for x in data:
    print('x')

x
x
x
x
x
x

In [8]:
for x in data:
    print(x,'x')

p x
y x
t x
h x
o x
n x

In [9]:
range(10)
for x in range(len(data)): # len defines the time to run the loop
    print(data[x])

p
y
t
h
o
n

In [11]:
range(10)
for i in range(len(data)): # len defines the time to run the loop
    print(data[i])

p
y
t
h
o
n

In [20]:
data = 'I am Shona Mia'
data =data.split() # split words
for i in range(len(data)): # len defines the time to run the loop per word
    print(data[i])

I
am
Shona
Mia

In [22]:
n = [5,45,23,63,58]
total = 0
for i in n:
    total = total+i
    print(total,x)

5 5
50 5
73 5
136 5
194 5

In [23]:
n = [5,45,23,63,58]
total = 0
for i in n:
    total = total+i
    #print(total,x)
print(total)

194

In [25]:
n = [5,45,23,63,58]
total = 0
for i in n:
    total = total+i
    print(total,x)
print('Total',total)

5 5
50 5
73 5
136 5
194 5
Total 194

In [26]:
for i in range(10):
    print('Shona Mia')

Shona Mia
Shona Mia
Shona Mia
Shona Mia
Shona Mia
Shona Mia
Shona Mia
Shona Mia
Shona Mia
Shona Mia

In [27]:
for i in range(10):
    print('Shona Mia',i)

Shona Mia 0
Shona Mia 1
Shona Mia 2
Shona Mia 3
Shona Mia 4
Shona Mia 5
Shona Mia 6
Shona Mia 7
Shona Mia 8
Shona Mia 9

In [28]:
for i in range(5,10):
    print('Shona Mia',i)

Shona Mia 5
Shona Mia 6
Shona Mia 7
Shona Mia 8
Shona Mia 9

In [29]:
for i in range(5,10,2):
    print('Shona Mia',i)

Shona Mia 5
Shona Mia 7
Shona Mia 9

In [45]:
for i in range(100,50,-10):
    print('Shona Mia',i)

Shona Mia 100
Shona Mia 90
Shona Mia 80
Shona Mia 70
Shona Mia 60

In [ ]:
#Excercises

In [43]:

#1. Disp number from -100 to -10 using for loop

for i in range(-100,0,10):
    print(i)

-100
-90
-80
-70
-60
-50
-40
-30
-20
-10

In [74]:
#Find sum of first 1000 prime numbers

limit = 1000

def is_prime(n):
    for i in range(2, n):
        if n%i == 0:
            return False
    return True

sum = 0
num = 2
for i in range(limit):
    while not is_prime(num):
        num += 1
    sum += num
    num += 1 # sorry, miss this
print (sum)

3682913

In [77]:
#2. Write a program to sum all prime numbers withina a range from 10 to 1000.
limit = 1000

def is_prime(n):
    for i in range(2, n):
        if n%i == 0:
            return False
    return True

sum = 10
num = 2
for i in range(limit):
    while not is_prime(num):
        num += 1
    sum += num
    num += 1 # sorry, miss this
print (sum)

3682923

In [78]:

total = 0
for i in range(10,1000):
    total = total+1
print(total)

990

In [87]:
#3. find the factorial of a n! (hint - n=7:7*6*5*4*3*2*1)
num = int(input('Enter a number: '))
factorial =1
if num == 0:
    print("The factorial of 0 is 1")
else:
for i in range(1,num + 1):
    factorial = factorial*i
    print("The factorial of",num,"is",factorial)

IndentationError: expected an indented block after 'else' statement on line 6 (1585313202.py, line 7)

In [69]:
#4.Reserse a given int number 2796658423

# take inputs
num = int(input('Enter an integer number: '))

# calculate reverse of number
reverse = 0
while(num > 0):
    last_digit = num % 10
    reverse = reverse * 10 + last_digit
    num = num // 10

# display result
print('The reverse number is = ', reverse)

Enter an integer number: 123456
The reverse number is =  654321

In [70]:
# Python program to reverse a number using recursion

reverse, base = 0, 1
def findReverse(num):
    global reverse  #function definition
    global base   #function definition
    if(num > 0):
        findReverse((int)(num/10))
        reverse += (num % 10) * base
        base *= 10
    return reverse

# take inputs
num = int(input('Enter an integer number: '))

# display result
print('The reverse number is =', findReverse(num))

Enter an integer number: 258
The reverse number is = 852

In [71]:
# Python program to reverse a number using slicing

# take inputs
num = int(input('Enter an integer number: '))

# calculate reverse of number
reverse = int(str(num)[::-1])

# display result
print('The reverse number is = ', reverse)

Enter an integer number: 33669
The reverse number is =  96633